

$color-primary: #7300ff;
$color-secondary: #fd70d5;
$color-tertiary: #91ddca;
$color-background: #fffdfd;
$color-background-darker: #eeecec;
$color-black: rgb(0, 0, 0);
$color-white: rgb(248, 246, 246);
$color-green-darker: #388666;
$menu-title-font: "Shrikhand";

